.weather-home-distribution{
    width: 60%;
    padding: 20px;
    min-height: 600px;
    margin: 0 auto;
}

.weather-home-visual-style{
    background: linear-gradient(180deg,#297af9,#333fb7) !important;
    /* display: flex; */
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.06);
    overflow: hidden;
}

.weather-container-divider{
    margin: 0 auto;
    width: 28px;
    padding: 13px;
}
.weather-divider-style{
    background: #f2ebeb;
    width: 354px;
    margin: 0 auto;
}