.weather-box-style-base{
    background: #bad3fb;
    border-radius: 6px;
    color: #2d5cd8;
    cursor: pointer;
}

.weather-meta-style{
    margin: 0 auto;
    display: table;
}

.weather-min-span{
    float: right;
}

.weather-span-common{
    font-family: cursive;
    font-weight: lighter;
}
.weather-icon-style-select{
    width: 140px;
    margin-bottom: -21%;
    margin-top: -2%;
}