.weather-location-display{
    display: flex;
    flex-direction: column;
    margin-top: -13px;
}

.weather-info-style{
    margin: 0 auto;
    margin-top: 3%;
    font-size: 24px;
    color: #f2ebeb;
}

.weather-date-style{
    font-size: 16px;
    color: #99bbf7;
    margin: 0 auto;
}

